<div class="container">
    <div class="row">
        <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">User</div>
                    <div class="panel-body" style="text-align: center">
                        <img src="{{userData.avatar_url}}" width="90" height="90" alt="User" class="img-thumbnail">
                        <br />
                        {{userData.username}}<br />
                        <span class="glyphicon glyphicon-certificate"></span> {{userData.points}}
                    </div>
                </div>
        </div>

        </div>
   </div>